<!DOCTYPE html> 
<html> 

<head> 
	<title>Calculator</title> 

	<!-- For styling -->
	<style> 
		table { 
			border: 1px solid black; 
			margin-left: auto; 
			margin-right: auto; 
		} 
		
		input[type="button"] { 
			width: 100%; 
			padding: 20px 40px; 
			background-color: green; 
			color: white; 
			font-size: 24px; 
			font-weight: bold; 
			border: none; 
			border-radius: 5px; 
		} 
		input[type="submit"] { 
			width: 100%; 
			padding: 20px 40px; 
			background-color: green; 
			color: white; 
			font-size: 24px; 
			font-weight: bold; 
			border: none; 
			border-radius: 5px; 
		} 
		
		input[type="text"] { 
			padding: 20px 30px; 
			font-size: 24px; 
			font-weight: bold; 
			border: none; 
			border-radius: 5px; 
			border: 2px solid black; 
		} 
	</style> 
</head> 

<body> 

	<!-- Create table -->
	<form name="my_form" action="/" method="post">
	<table id="calcu"> 
		<tr> 
			<td colspan="3"> 
				
				<input type="text" id="in_string" name="in_string" maxlength="200" size="80"> 
				
			</td> 
			<td><input type="button" value="c" onclick="clear_str()"></td> 
		</tr> 

		<tr> 
			<td><input type="button" value="1" onclick="add_element(this)"></td> 
			<td><input type="button" value="2" onclick="add_element(this)"></td> 
			<td><input type="button" value="3" onclick="add_element(this)"></td> 
			<td><input type="button" value="/" onclick="add_element(this)"></td> 
		</tr> 
		<tr> 
			<td><input type="button" value="4" onclick="add_element(this)"></td> 
			<td><input type="button" value="5" onclick="add_element(this)"></td> 
			<td><input type="button" value="6" onclick="add_element(this)"></td> 
			<td><input type="button" value="*" onclick="add_element(this)"></td> 
		</tr> 
		<tr> 
			<td><input type="button" value="7" onclick="add_element(this)"></td> 
			<td><input type="button" value="8" onclick="add_element(this)"></td> 
			<td><input type="button" value="9" onclick="add_element(this)"></td> 
			<td><input type="button" value="-" onclick="add_element(this)"></td> 
		</tr> 
		<tr> 
			<td><input type="button" value="0" onclick="add_element(this)"></td> 
			<td><input type="button" value="." onclick="add_element(this)"></td> 
			<td><input type="submit" value="="></td> 
			<td><input type="button" value="+" onclick="add_element(this)"></td> 
		</tr> 
	</table> 
	<textarea rows = "20"
			  cols = "100"
			  id = "history"
			  readonly>
	</textarea>
	

	</form>
</body> 
<script>
	async function sendString(){
		let val = document.getElementById("in_string").value;

		const response = await fetch("/", {
			method: "POST",
			headers: { "Accept": "application/json", "Content-Type": "application/json" },
			body: JSON.stringify({
				in_string : val
			})
		});
		if (response.ok === true) {
			const answer = await response.json();
			document.getElementById("in_string").value = answer.ans;
			document.getElementById("history").value = document.getElementById("history").value + "\n" + val + " = " + answer.ans;
		}
	}

	document.forms["my_form"].addEventListener("submit", e => {
		e.preventDefault();
		sendString();
	});

	function add_element(button) {
		let val = document.getElementById("in_string").value;
		val = val + button.value;
		document.getElementById("in_string").value = val;
	}

	function clear_str() {
		document.getElementById("in_string").value = "";
	}
	
</script>


</html> 
